.header {
  width: 100%;
  padding:1rem 0;

  &__container {
    display: flex;
  }

  &__logo{
    width:90px;
  }

  &__nav {
    position:relative;
    &__list {

      &--mobile {
        position: absolute;
        left:-100%;
      }
    }
  }
}
